.footer{
    background:#1f2937;
    color:white;
    text-align:center;
    padding:50px 10%;
}

.footer h2{
    margin-bottom:20px;
}

.footer p{
    color:#d1d5db;
    line-height:1.6;
}

.footer-links{
    margin:25px 0;
    display:flex;
    justify-content:center;
    gap:30px;
}

.footer-links a{
    color:white;
    text-decoration:none;
}

.footer-links a:hover{
    color:#60a5fa;
}

.copyright{
    margin-top:20px;
    font-size:14px;
}