.testimonials{
    padding:80px 10%;
    background:#f8f9ff;
    text-align:center;
}

.testimonials h2{
    font-size:2.5rem;
    color:#4f46e5;
    margin-bottom:40px;
}

.testimonial-container{
    display:flex;
    gap:25px;
    justify-content:center;
    flex-wrap:wrap;
}

.testimonial-card{
    width:300px;
    background:white;
    padding:25px;
    border-radius:15px;
    box-shadow:0 8px 20px rgba(0,0,0,.08);
}

.testimonial-card h4{
    margin-top:20px;
    color:#4f46e5;
}